In [13]:
import pandas as pd

df = pd.read_csv('data/movie_review.csv')
df

,fold_id,cv_tag,html_id,sent_id,text,tag
0,0,cv000,29590,0,films adapted from comic books have had plenty...,pos
1,0,cv000,29590,1,"for starters , it was created by alan moore ( ...",pos
2,0,cv000,29590,2,to say moore and campbell thoroughly researche...,pos
3,0,cv000,29590,3,"the book ( or "" graphic novel , "" if you will ...",pos
4,0,cv000,29590,4,"in other words , don't dismiss this film becau...",pos
...,...,...,...,...,...,...
64715,9,cv999,14636,20,that lack of inspiration can be traced back to...,neg
64716,9,cv999,14636,21,like too many of the skits on the current inca...,neg
64717,9,cv999,14636,22,"after watching one of the "" roxbury "" skits on...",neg
64718,9,cv999,14636,23,"bump unsuspecting women , and . . . that's all .",neg
64719,9,cv999,14636,24,"after watching _a_night_at_the_roxbury_ , you'...",neg

In [12]:
#How many words in a Yelp review

df['text'].map(lambda x: len(x.split()))

0        52
1        36
2        27
3        30
4        13
         ..
64715    14
64716    43
64717    35
64718    11
64719    12
Name: text, Length: 64720, dtype: int64

In [8]:
#Mark review good or bad based on conditions

df['text'].map(lambda x: 'Good' if any([word in x.lower() for word in ['awesome', 'love', 'good', 'great']]) else 'Bad')

0         Bad
1         Bad
2         Bad
3         Bad
4         Bad
         ...
64715     Bad
64716     Bad
64717    Good
64718     Bad
64719     Bad
Name: text, Length: 64720, dtype: object

In [21]:
df['Review_num_words'] = df['text'].map(lambda x: len(x.split()))
df['Review_length'] = df['Review_num_words'].map(lambda x: 'Short' if x < 10 else ('Medium' if x < 25 else 'Long'))
df['Review_length'].value_counts(normalize=True)

Medium    0.478724
Long      0.388319
Short     0.132957
Name: Review_length, dtype: float64